@import "tailwindcss";
/* @import "tailwindcss"; */

:root {
  --se-black: #1a1a1a;
  --se-orange: #de1e25;
  --se-orange-dark: #d50007;
  --se-white: #ffffff;
  --se-gray: #f5f5f5;
}

* { box-sizing: border-box; }
body { font-family: 'Inter', sans-serif; background: #f8f8f8; }

.ql-editor { min-height: 300px; font-size: 14px; }
.ql-toolbar { border-radius: 8px 8px 0 0 !important; }
.ql-container { border-radius: 0 0 8px 8px !important; }